.el-container {
  height: 100%;
}
.el-header {
  background-color: #0d6efd;
  color: #fff;
}
.el-header .el-row {
  width: 100%;
  height: 100%;
}
.el-main {
  min-height: 600px;
}
.el-footer {
  height: 60px;
  background-color: #333;
}
.content {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}
.content .el-col {
  margin-bottom: 20px;
}