<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>基于vue实现的三级联动下拉框</title>
		<style type="text/css">
			.div1 {
				width: 150px;
				height: 30px;
				line-height: 30px;
			}

			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div id="example">
			<select class="div1" v-model="prov" v-cloak>
				<option v-for="option in arr" :value="option.name">
					{{ option.name }}
				</option>
			</select>
			<select class="div1" v-model="city" v-cloak>
				<option v-for="option in cityArr" :value="option.name">
					{{ option.name }}
				</option>
			</select>
			<select class="div1" v-model="district" v-cloak>
				<option v-for="option in districtArr" :value="option.name">
					{{ option.name }}
				</option>
			</select>
		</div>
		<script src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/items.js"></script>
		<script>
			var vm = new Vue({
				el: '#example',
				data: {
					arr: arrAll,
					prov: '厨房',
					city: '电路',
					district: '灯具',
					cityArr: [],
					districtArr: []
				},
				methods: {
					updateCity: function() {
						for (var i = 0; i < this.arr.length; i++) {
							var obj = this.arr[i];
							if (obj.name == this.prov) {
								this.cityArr = obj.sub;

							}
						}
						console.log(this.cityArr)
						this.city = this.cityArr[1].name;
					},
					updateDistrict: function() {
						for (var i in this.cityArr) {
							var obj = this.cityArr[i];
							if (obj.name == this.city) {
								this.districtArr = obj.sub;

							}
						}
						if (this.districtArr.length > 0 && this.districtArr[1].name) {
							this.district = this.districtArr[1].name;
						} else {
							this.district = '';
						}
					}
				},
				beforeMount: function() { //页面加载之前
					this.updateCity();
					this.updateDistrict();
				},
				watch: { //它可以用来监测Vue实例上的数据变动。
					prov: function() {
						this.updateCity();
						this.updateDistrict();
					},
					city: function() {
						this.updateDistrict();
					}
				}
			})
		</script>
	</body>
</html>
